*.suo
*/.vs/*

sdkmeshToOBJ/bin/
sdkmeshToOBJ/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sdkmeshToOBJ/obj/
sdkmeshToOBJ/packages/
sdkmeshToOBJ/bunny.sdkmesh.obj
gsMeshConvert/bin/
gsMeshConvert/obj/
gsMeshSplit/bin/
gsMeshSplit/obj/
test_output/

builds/*
!builds/current_build.zip

